<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#if($q)$q - #{end}Gitee Search</title>
    <link href="/css/main.css" media="all" rel="stylesheet" />
    <link href="/css/pure-min.css" media="all" rel="stylesheet" />
    <link href="/css/grids-responsive-min.css" media="all" rel="stylesheet" />
    <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>
<body>
<div id="main" class="pure-g">
    <div class="content pure-u-1 pure-u-md-3-4">
        <form class="pure-form pure-form-aligned">
            <fieldset>
                <label for="i_query">搜索 :</label>
                <input type="text" name="q" value="$!q" id="i_query" size="50">
                <select name="type">
                    <option value="repo" #if($type=='repo')selected#end>Repository</option>
                    <option value="issue" #if($type=='issue')selected#end>Issue</option>
                    <option value="commit" #if($type=='commit')selected#end>Commit</option>
                    <option value="pr" #if($type=='pr')selected#end>PR</option>
                    <option value="user" #if($type=='user')selected#end>User</option>
                    <option value="code" #if($type=='code')selected#end>Code</option>
                </select>
                <select name="sort">
                    <option value="score" #if($sort=='score')selected#end>最佳匹配</option>
                    <option value="stars" #if($sort=='stars')selected#end>最多 Star 数</option>
                    <option value="forks" #if($sort=='forks')selected#end>最多 Fork 数</option>
                    <option value="update" #if($sort=='update')selected#end>最近更新</option>
                </select>
                <button type="submit" class="pure-button pure-button-primary">Search</button>
            </fieldset>
        </form>
        #if($result)
        query: <code>$result.get("query").textValue()</code><br/>
        totalHits: <em>$result.get("totalHits")</em><br/>
        totalPages: <em>$result.get("totalPages")</em><br/>
        timeUsed: <em>$result.get("timeUsed")ms</em><br/>
        #if($type=='repo')
        <table class="pure-table pure-table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Doc</th>
                <th>Score</th>
                <th>Description</th>
                <th>Star</th>
                <th>Fork</th>
                <th nowrap>G-Index</th>
            </tr>
            </thead>
            <tbody>
            #foreach($obj in $result.get("objects"))
            #set($recomm = $obj.get('recomm').intValue())
            #set($pi = (($tool.param('p', 1) - 1) * 20) + ${foreach.count})
            <tr>
                <td valign="top">$pi</td>
                <td valign="top" nowrap><a href="https://gitee.com/$obj.get('namespace').get('path').textValue()/$obj.get('path').textValue()" target="_blank">$tool.highlight("$obj.get('namespace').get('path').textValue()/$obj.get('name').textValue()",$q)</a>#if($recomm==2) <em>[GVP]</em>#elseif($recomm==1) <em>[荐]</em>#end</td>
                <td valign="top">$obj.get('_id_')</td>
                <td valign="top">$obj.get('_score_')</td>
                <td>$tool.highlight($obj.get('description').textValue(), $q)</td>
                <td valign="top" align="right">$obj.get('count').get('star')</td>
                <td valign="top" align="right">$obj.get('count').get('fork')</td>
                <td valign="top" align="right">$obj.get('count').get('gindex')</td>
            </tr>
            #end
            </tbody>
        </table>
        #elseif($type=='issue')
        <table class="pure-table pure-table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>Repository</th>
                <th>Title</th>
                <th>Time</th>
                <th>Doc</th>
                <th>Score</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            #foreach($obj in $result.get("objects"))
            #set($pi = (($tool.param('p', 1) - 1) * 20) + ${foreach.count})
            <tr>
                <td valign="top">$pi</td>
                <td valign="top">$obj.get('project').get('name').textValue()</td>
                <td valign="top" nowrap><a href="" target="_blank">$tool.highlight($obj.get('title').textValue(),$q)</a></td>
                <td valign="top">$tool.format('yyyy/MM/dd',$obj.get('created_at').longValue())</td>
                <td valign="top">$obj.get('_id_')</td>
                <td valign="top">$obj.get('_score_')</td>
                <td>$tool.highlight($obj.get('description').textValue(), $q)</td>
            </tr>
            #end
            </tbody>
        </table>
        #end
        <div class="pager">
            #foreach($page in [1..$result.get("totalPages")])
            <a href="$tool.uri('p',$page)">$page</a>
            #end
        </div>
        #end
    </div>
    #if($result && $result.get('facets'))
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <ul>
        #foreach($lang in $result.get('facets').get('lang'))
        <li><span><a href="$tool.uri('lang',$lang.get('label').textValue())">$lang.get('label').textValue()</a><em>($lang.get('value'))</em></span></li>
        #end
        </ul>
    </div>
    #end
</div>
</body>
</html>