#set($layout = 'html.vm')
<div class="columns text-center">
    <div class="column col-4 col-mx-auto">
        <div class="hero hero-lg">
            <div class="hero-body">
                <h1>Gitee Search</h1>
                <form class="form-group" action="search">
                    <fieldset class="input-group">
                        <input class="form-input input-lg" name="q" type="text" style="width:400px;" id="txt_q">
                        <button class="btn btn-primary input-group-btn btn-lg" type="submit">Search</button>
                    </fieldset>
                </form>
                <p>Powerred by <a href="https://gitee.com/" target="_blank">Gitee.com</a></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById('txt_q').focus();
</script>