<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#if($q)$q - #{end}Gitee Search</title>
    <link rel="stylesheet" href="css/spectre.min.css">
    <link rel="stylesheet" href="css/spectre-exp.min.css">
    <link rel="stylesheet" href="css/spectre-icons.min.css">
    <link rel="stylesheet" href="css/main.css?nxdddadffddadaadfdd" />
    <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>
<body>
<div id="main">
    <header class="navbar">
        <section class="navbar-section">
            <form class="form-group">
                <fieldset class="input-group">
                    <label class="input-group-addon addon-sm" for="txt_q">GSearch</label>
                    <input class="form-input input-sm" name="q" value="$!q" type="text" style="width:400px;" id="txt_q">
                    <select name="type" class="form-select select-sm">
                        <option value="repo" #if($type=='repo')selected#end>Repository</option>
                        <option value="issue" #if($type=='issue')selected#end>Issue</option>
                        <option value="code" #if($type=='code')selected#end>Code</option>
                    </select>
                    <select name="sort" class="form-select select-sm">
                        <option value="score" #if($sort=='score')selected#end>Best Matched</option>
                        <option value="stars" #if($sort=='stars')selected#end>By Stars</option>
                        <option value="forks" #if($sort=='forks')selected#end>By Forks</option>
                        <option value="update" #if($sort=='update')selected#end>Last Updated</option>
                    </select>
                    <button class="btn btn-primary input-group-btn btn-sm" type="submit">Search</button>
                </fieldset>
            </form>
        </section>
    </header>
    <div class="container">
        <div class="columns">
            <div id="SearchResults">
                #set($thisLang = $request.getParam('lang'))
                #set($repo = $request.getParam('repo.name'))
                #set($owner = $request.getParam('owner'))
                #if($result)
                #set($totalPages = $result.get("totalPages"))
                <div>
                    <div class="search_summary"><em>$result.get("totalHits")</em> Results , $totalPages Pages in <em>$result.get("timeUsed")</em> ms</div>
                    #if($thisLang || $repo || $owner)
                    <div class="facets">
                        #if($thisLang)
                        <span class="chip">
                          $thisLang
                          <a href="$tool.remove_uri_param('lang')" class="btn btn-clear" aria-label="Close" role="button"></a>
                        </span>
                        #end
                        #if($repo)
                        <span class="chip">
                          $repo
                          <a href="$tool.remove_uri_param('repo.name')" class="btn btn-clear" aria-label="Close" role="button"></a>
                        </span>
                        #end
                        #if($owner)
                        <span class="chip">
                          $owner
                          <a href="$tool.remove_uri_param('owner')" class="btn btn-clear" aria-label="Close" role="button"></a>
                        </span>
                        #end
                    </div>
                    #end
                    #if($type=='repo')
                        #parse('vms/render_repo.vm')
                    #elseif($type=='issue')
                        #parse('vms/render_issue.vm')
                    #elseif($type=='code')
                        #parse('vms/render_code.vm')
                    #end
                </div>
                #end
                #if($totalPages > 1)
                <div class="columns text-center">
                    <div class="column col-4 col-mx-auto">
                        <div class="text-primary docs-block">
                            #set($p = $tool.param('p',1))
                            #set($nextPage = $p + 1)
                            <ul class="pagination">
                                <li class="page-item#if($p==1) disabled#end">
                                    <a href="$tool.uri('p',1)" tabindex="-1">Prev</a>
                                </li>
                                #foreach($i in $tool.pages($totalPages.intValue(), $p, 10))
                                <li class="page-item#if($p == $i) active#end"><a href="$tool.uri('p',$i)">$i</a></li>
                                #end
                                <li class="page-item#if($p>=$totalPages) disabled#end">
                                    <a href="$tool.uri('p',$nextPage)">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                #end
            </div>
            <div id="SearchFacets">
                #if($result && $result.get('facets'))
                #set($thisLang = $request.getParam('lang'))
                <ul class="menu text-primary">
                    <li class="divider" data-content="Programming Language"></li>
                    #foreach($lang in $result.get('facets').get('lang'))
                    #set($langfacet = $lang.get('label').textValue())
                    <li class="menu-item#if($thisLang == $langfacet) active#end">
                        <a href="$tool.uri('lang',$langfacet)">$langfacet</a>
                        <div class="menu-badge">
                            <label class="label">$lang.get('value')</label>
                        </div>
                    </li>
                    #end
                </ul>
                #if($result.get('facets').get('repo.name'))
                <!-- Accordions content -->
                #set($repo = $request.getParam('repo.name'))
                <ul class="menu text-primary">
                    <li class="divider" data-content="Repositories"></li>
                    #foreach($lang in $result.get('facets').get('repo.name'))
                    #set($thisRepo = $lang.get('label').textValue())
                    <li class="menu-item#if($repo == $thisRepo) active#end">
                        <a href="$tool.uri('repo.name',$thisRepo)">$thisRepo</a>
                        <div class="menu-badge">
                            <label class="label">$lang.get('value')</label>
                        </div>
                    </li>
                    #end
                </ul>
                #end

                #if($result.get('facets').get('owner'))
                #set($owner = $request.getParam('owner'))
                <ul class="menu text-primary">
                    <li class="divider" data-content="Developers"></li>
                    #foreach($lang in $result.get('facets').get('owner'))
                    #set($thisOwner = $lang.get('label').textValue())
                    <li class="menu-item#if($owner == $thisOwner) active#end">
                        <a href="$tool.uri('owner',$thisOwner)">$thisOwner</a>
                        <div class="menu-badge">
                            <label class="label">$lang.get('value')</label>
                        </div>
                    </li>
                    #end
                </ul>
                #end

                #end
            </div>
            <div style="clear:both;"></div>
        </div>
    </div><!-- end of container //-->
</div>
</body>
</html>