#set($layout = 'html.vm')
#set($page_title = $q)
#set($type = $tool.param('type','repo'))
#set($thisLang = $tool.param('lang'))
#set($repo = $tool.param('repo.name'))
#set($owner = $tool.param('owner'))

<div id="main">
    <header class="navbar">
        <section class="navbar-section">
            <form class="form-group">
                <input type="hidden" name="type" value="$type"/>
                <fieldset class="input-group">
                    <label class="input-group-addon addon-sm" for="INPUT_SEARCH">GSearch</label>
                    <input class="form-input input-sm" name="q" value="$!q" type="text" id="INPUT_SEARCH">
                    <button class="btn btn-primary input-group-btn btn-sm" type="submit">Search</button>
                </fieldset>
            </form>
        </section>
    </header>
    <div class="container">
        <div class="columns">
            <div id="SearchResults">
                #if($result)
                #set($totalPages = $result.get("totalPages"))
                <div>
                    <ul class="tab" id="SearchTabs">
                        <li class="tab-item#if($type=='repo') active#end">
                            <a href="$tool.uri('type','repo')">
                                Repository
                            </a>
                        </li>
                        <li class="tab-item#if($type=='code') active#end">
                            <a href="$tool.uri('type','code')">
                                Code
                            </a>
                        </li>
                        <li class="tab-item#if($type=='issue') active#end">
                            <a href="$tool.uri('type','issue')">
                                Issue
                            </a>
                        </li>
                    </ul>
                    <div id="SearchResultStat">
                        <div class="dropdown" id="SortMenu">
                            <a class="btn btn-link dropdown-toggle" tabindex="0">sort by<i class="icon icon-caret"></i></a>
                            <ul class="menu">
                                <li class="menu-item#if($sort=='score') active#end"><a href="$tool.uri('sort','score')">Best Matched</a></li>
                                <li class="menu-item#if($sort=='stars') active#end"><a href="$tool.uri('sort','stars')">By Stars</a></li>
                                <li class="menu-item#if($sort=='forks') active#end"><a href="$tool.uri('sort','forks')">By Forks</a></li>
                                <li class="menu-item#if($sort=='update') active#end"><a href="$tool.uri('sort','update')">Last Updated</a></li>
                            </ul>
                        </div>
                        <p><span>$result.get("totalHits")</span> results#if($sort) sorted by <span>$sort</span>#end in <span>$result.get("timeUsed")</span> ms</p>
                    </div>
                    #if($thisLang || $repo || $owner)
                    <div class="facets">
                        #if($thisLang)
                        <span class="chip">
                          $thisLang
                          <a href="$tool.remove_uri_param('lang')" class="btn btn-clear" aria-label="Close" role="button"></a>
                        </span>
                        #end
                        #if($repo)
                        <span class="chip">
                          $repo
                          <a href="$tool.remove_uri_param('repo.name')" class="btn btn-clear" aria-label="Close" role="button"></a>
                        </span>
                        #end
                        #if($owner)
                        <span class="chip">
                          $owner
                          <a href="$tool.remove_uri_param('owner')" class="btn btn-clear" aria-label="Close" role="button"></a>
                        </span>
                        #end
                    </div>
                    #end
                    #if($type=='repo')
                        #parse('vms/render_repo.vm')
                    #elseif($type=='issue')
                        #parse('vms/render_issue.vm')
                    #elseif($type=='code')
                        #parse('vms/render_code.vm')
                    #end
                </div>
                #end
                #if($totalPages > 1)
                <div class="columns text-center">
                    <div class="column col-4 col-mx-auto">
                        <div class="text-primary docs-block">
                            #set($p = $tool.param('p',1))
                            #set($nextPage = $p + 1)
                            <ul class="pagination">
                                <li class="page-item#if($p==1) disabled#end">
                                    <a href="$tool.uri('p',1)" tabindex="-1">Prev</a>
                                </li>
                                #foreach($i in $tool.pages($totalPages.intValue(), $p, 10))
                                <li class="page-item#if($p == $i) active#end"><a href="$tool.uri('p',$i)">$i</a></li>
                                #end
                                <li class="page-item#if($p>=$totalPages) disabled#end">
                                    <a href="$tool.uri('p',$nextPage)">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                #end
            </div>
            <div id="SearchFacets">
                #if($result && $result.get('facets'))
                <ul class="menu text-primary">
                    <li class="divider" data-content="Programming Language"></li>
                    #foreach($lang in $result.get('facets').get('lang'))
                    #if(${foreach.count} <= 20)
                    #set($langfacet = $lang.get('label').textValue())
                    <li class="menu-item#if($thisLang == $langfacet) active#end">
                        <a href="$tool.uri('lang',$langfacet)">$langfacet</a>
                        <div class="menu-badge">
                            <label class="label">$lang.get('value')</label>
                        </div>
                    </li>
                    #end
                    #end
                </ul>
                #if($result.get('facets').get('repo.name'))
                <!-- Accordions content -->
                <ul class="menu text-primary">
                    <li class="divider" data-content="Repositories"></li>
                    #foreach($lang in $result.get('facets').get('repo.name'))
                    #if(${foreach.count} <= 20)
                    #set($thisRepo = $lang.get('label').textValue())
                    <li class="menu-item#if($repo == $thisRepo) active#end">
                        <a href="$tool.uri('repo.name',$thisRepo)">$thisRepo</a>
                        <div class="menu-badge">
                            <label class="label">$lang.get('value')</label>
                        </div>
                    </li>
                    #end
                    #end
                </ul>
                #end

                #if($result.get('facets').get('owner'))
                <ul class="menu text-primary">
                    <li class="divider" data-content="Developers"></li>
                    #foreach($lang in $result.get('facets').get('owner'))
                    #if(${foreach.count} <= 20)
                    #set($thisOwner = $lang.get('label').textValue())
                    <li class="menu-item#if($owner == $thisOwner) active#end">
                        <a href="$tool.uri('owner',$thisOwner)">$thisOwner</a>
                        <div class="menu-badge">
                            <label class="label">$lang.get('value')</label>
                        </div>
                    </li>
                    #end
                    #end
                </ul>
                #end

                #end
            </div>
            <div style="clear:both;"></div>
        </div>
    </div><!-- end of container //-->
</div>