
body {padding:8px;font-size:10pt;}

em.highlight {color:red;font-style:normal;}
em.md {font-style:normal;}
em.codeline {width:24px;text-align:right;font-style:normal;margin-right:10px;}

#INPUT_SEARCH {width:610px;}

#SearchResults {float:left;width:740px;margin-left:10px;}
#SearchResults ul { list-style-type:none; margin:20px 0 0 0; padding:0;}
#SearchFacets {float:left; width:200px; }
#SearchResults .facets {margin-top:20px;}
#SearchResults blockquote {padding-top:0;padding-bottom:0;margin:10px 0 5px 0;}
#SearchResults #SortMenu {float:right;margin-right:10px;}
#SearchResults #SearchTabs {margin:0 20px 20px 0;}
#SearchResults #SearchTabs li {margin-right:20px;}
#SearchResults .breadcrumb {margin:0;}
#SearchResults li.repo {margin-bottom:20px;}
#SearchResults li .meta {color:#999;}
#SearchResults li .meta a {color:#999;}
#SearchResults li .meta .label {margin-right:10px;}

blockquote.CodeResults ol {list-style-type:none;margin:0;padding:0}
blockquote.CodeResults ol li {margin:0;padding:0}
blockquote.CodeResults ol li:after {content: ""; display: table; clear: both;}
blockquote.CodeResults ol li em.line {font-style:normal;float:left; width: 26px; padding-right:3px; text-align:right;background:#f2f2f2;}
blockquote.CodeResults ol li em.code {float:left;width:590px; margin-left:6px;font-style:normal;word-wrap:break-word;}

#SearchFacets .menu {margin-bottom:20px;}
#SearchFacets .menu .active {font-weight:bold;}
#SearchFacets li a {overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}