## 搜索issue结果渲染
<ul>
    #foreach($obj in $result.get("objects"))
    <li>
        <h6>
            <a href="" target="_blank">$tool.highlight($obj.get('title').textValue(),$q)</a>
            <small class="label">$obj.get('project').get('name').textValue()</small>
        </h6>
        <blockquote>$tool.highlight($obj.get('description').textValue(), $q)</blockquote>
        <p>$tool.format('yyyy/MM/dd HH:mm',$obj.get('created_at').longValue())</p>
    </li>
    #end
</ul>