## 搜索代码结果渲染

<ul>
    #foreach($obj in $result.objects)
    #set($thisRepoName = ${obj.repository.name})
    #set($pi = (($tool.param('p', 1) - 1) * 20) + ${foreach.count})
    <li class="code">
        <h6>
            <a href="${obj.url}" target="_blank">$tool.hlcode(${obj.name},$q)</a>
            <small class="label"><a href="$tool.uri('repo.name',$thisRepoName)" title="Search in this Repository">$thisRepoName</a></small>
        </h6>
        <blockquote class="CodeResults">
            <ol>
            #foreach($codeLine in $tool.hl_lines(${obj.contents}, $q, 10))
            <li>
                <em class="line">${codeLine.line}</em>
                <em class="code">${codeLine.code}</em></li>
            #end
            </ol>
        </blockquote>
        <p class="meta"><span class="label">${obj.language|'None'}</span><em class="md">${obj.lines}</em> Lines#if(${obj.codeOwner}) by <em class="md">${obj.codeOwner}</em>#end. <a href="${obj.repository.url}" target="_blank">${obj.repository.url}</a></p>
    </li>
    #end
</ul>