## 搜索代码结果渲染
<table class="pure-table pure-table-striped">
    <thead>
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Doc</th>
        <th>Score</th>
        <th>Lines</th>
        <th>Codes</th>
        <th>Blank</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    #foreach($obj in $result.get("objects"))
    #set($pi = (($tool.param('p', 1) - 1) * 20) + ${foreach.count})
    <tr>
        <td valign="top">$pi</td>
        <td valign="top" nowrap><a href="$obj.get('repo').get('url').textValue()/tree/master/$obj.get('file').get('location').textValue()" target="_blank">$obj.get('file').get('name').textValue()</a></td>
        <td valign="top">$obj.get('_id_')</td>
        <td valign="top">$obj.get('_score_')</td>
        <td valign="top" align="right">$obj.get('lines').get('total').textValue()</td>
        <td valign="top" align="right">$obj.get('lines').get('code').textValue()</td>
        <td valign="top" align="right">$obj.get('lines').get('blank').textValue()</td>
        <td valign="top" align="right">$obj.get('lines').get('comment').textValue()</td>
    </tr>
    #end
    </tbody>
</table>