## 搜索代码结果渲染
<ul>
    #foreach($obj in $result.get("objects"))
    #set($thisRepoName = $obj.get('repo').get('name').textValue())
    #set($pi = (($tool.param('p', 1) - 1) * 20) + ${foreach.count})
    <li>
        <h6>
            <a href="$obj.get('repo').get('url').textValue()/tree/master/$obj.get('file').get('location').textValue()" target="_blank">$tool.hlcode($obj.get('file').get('name').textValue(),$q)</a>
            <small class="label"><a href="$tool.uri('repo.name',$thisRepoName)" title="Search in this Repository">$thisRepoName</a></small>
        </h6>
        <blockquote>
            #foreach($codeLine in $tool.hl_lines($obj.get('source').textValue(), $q, 10))
            $codeLine.line : $codeLine.code<br/>
            #end
        </blockquote>
        <p><em class="md">$obj.get('lines').get('total').textValue()</em> Lines <em class="md">$obj.get('lang').textValue()</em> by <em class="md">$obj.get('owner').textValue()</em>. <a href="$obj.get("repo").get("url").textValue()" target="_blank">$obj.get("repo").get("url").textValue()</a></p>
    </li>
    #end
</ul>