<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$page_title</title>
    <link rel="stylesheet" href="$tool.static_with_timestamp('css/spectre.min.css')">
    <link rel="stylesheet" href="$tool.static_with_timestamp('css/spectre-exp.min.css')">
    <link rel="stylesheet" href="$tool.static_with_timestamp('css/spectre-icons.min.css')">
    <link rel="stylesheet" href="$tool.static_with_timestamp('css/main.css')" />
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
</head>
<body>
${screen_content}
</body>
</html>